body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: white;

}

nav ul li {
    padding: 0 12px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 0 8px;
}

.brand img {
    width: 44px;
}

.container {
    min-height: 72vh;
    background-color: black;
    font-family: sans-serif;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background: url(bg.jpg);
}

.bottom {
    position: sticky;
    bottom: 0;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 130vh;
    cursor: pointer;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
    width: 90px;
    height: 50px;
    margin-right: 23px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;

}

.songItemcontainer {
    margin-top: 70px;
}

.songInfo {
    position: absolute;
    left: 12vw;
    font-family: sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity .5s ease-in;
}